@import "./variables";

h1 {
  font-size: $font-size-h1;
  font-family: $font-main;
  color: $primary-color;
  user-select: none;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-sm;
  align-items: flex-start;
  gap: 0;

  fieldset {
    padding: 16px;
  }

  .search-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacing-sm;
  }

  .filters-row {
    width: 100%;
    display: flex;
    gap: $spacing-md;
    align-items: center;

    input {
      letter-spacing: 2px;
    }

    button {
      margin-bottom: $spacing-sm;
    }
  }

  .input-filter {
    width: 400px;
    max-width: 100%;
  }

  .date-picker {
    width: 200px;
    max-width: 100%;
  }

  button {
    height: $spacing-lg;
    background: none;
    border-radius: 8px;
    border: 2px solid $primary-color;

    :hover {
      background: rgba(255, 232, 31, 0.12);
    }


    .search-icon:hover, .clear-filter-icon:hover {
      background: none;
    }
  }

  mat-form-field, mat-label, legend, button {
    letter-spacing: 2px;
  }

  legend, mat-label {
    user-select: none;
  }
}
