@import '../../../styles/variables';

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 85px;
  padding: $spacing-xs;
  background: $background-light-transparent;
  color: $text-color;
  box-shadow: 2px 0 16px $shadow;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: width 0.5s;
  user-select: none;

  &.isOpen {
    width: 168px;
  }

  .sidebar-toggle-circle {
    position: absolute;
    top: 65px;
    right: -18px;
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: $background-light-transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
    box-shadow: 0 2px 8px $shadow;
    cursor: pointer;
    transition: background .2s, border .2s;
    font-size: 1.5em;
    line-height: 1;
    padding: 0;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .logo {
    color: $primary-color;
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;

    .title {
      font-size: 1.5em;
    }

    .subtitle {
      font-size: 1em;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 40px 0 0;
    width: 100%;
    overflow: hidden;

    li {
      width: 100%;
      margin-top: 10px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding: 12px 18px;
      color: $text-color;
      text-decoration: none;
      font-size: 1em;
      border-radius: 8px;
      transition: background .2s, color .2s;

      .icon {
        font-size: 1.3em;
      }

      &.active, &:hover {
        background: $primary-color-transparent;
      }

      &.active {
        color: $primary-color;
      }
    }
  }

  &:not(.isOpen) {
    .menu a {
      justify-content: center;
    }

    .menu a span:not(.icon) {
      display: none;
    }
  }
}
